@{
    ViewData["Title"] = "خانه";
}

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container mx-10">
        <!--begin::Row-->
        <div class="row">
            
            <!--begin::Nav Panel Widget 2-->
            <div class="card card-custom gutter-b mt-10">                
                
                <div class="card-header justify-content-center">
                    <div class="card-title">
                        <h3 class="card-label"><i class="fas fa-toolbox"></i> اترنال کیت لیستی از ابزار های مختلف و متنوع را به شما ارائه می دهد. با انتخاب یکی از ابزار ها در لیست زیر کار خود را شروع کنید <i class="fas fa-tools"></i></h3>
                    </div>
                </div>

                <!--begin::Body-->
                <div class="card-body ">

                    <div class="row mb-5">
                        <div class="col-md-3 col-sm-6 my-2">
                            <a asp-area="Convert" class="btn btn-block btn-sm btn-light-danger border-danger font-weight-bolder font-size-h5 py-25"><i class="fas fa-sync-alt icon-4x mb-2"></i><br/>تبدیل</a>
                        </div>

                        <div class="col-md-3 col-sm-6 my-2">
                            <a asp-area="Text" class="btn btn-block btn-sm btn-light-primary border-primary font-weight-bolder font-size-h5 py-25"><i class="far fa-file-alt icon-4x mb-2"></i><br/>متن</a>
                        </div>

                        <div class="col-md-3 col-sm-6 my-2">
                            <a href="#" class="btn btn-block btn-sm btn-light-success border-success font-weight-bolder font-size-h5 py-25"><i class="fas fa-tools icon-4x mb-2"></i><br/>ابزار های آنلاین</a>
                        </div>

                        <div class="col-md-3 col-sm-6 my-2">
                            <a href="#" class="btn btn-block btn-sm btn-light-warning border-warning font-weight-bolder font-size-h5 py-25"><i class="far fa-lightbulb icon-4x mb-2"></i><br/>انرژی</a>
                        </div>
                    </div>

                </div>
                <!--end::Body-->
            </div>
            <!--begin::Nav Panel Widget 2-->

        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>