@{
    ViewData["Title"] = "خانه";
}

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container ">
        <!--begin::Row-->
        <div class="row">

            <!--begin::Nav Panel Widget 2-->
            <div class="card card-custom gutter-b">
                <!--begin::Body-->
                <div class="card-body ">

                    <div class="row mb-5">
                        <div class="col-md-3 col-sm-6 my-2">
                            <a href="#" class="btn btn-block btn-sm btn-light-danger font-weight-bolder font-size-h5 py-25"><i class="fas fa-sync-alt icon-4x mb-2"></i><br />تبدیل</a>
                        </div>

                        <div class="col-md-3 col-sm-6 my-2">
                            <a href="#" class="btn btn-block btn-sm btn-light-primary font-weight-bolder font-size-h5 py-25"><i class="fas fa-calculator icon-4x mb-2"></i><br />محاسبات</a>
                        </div>

                        <div class="col-md-3 col-sm-6 my-2">
                            <a href="#" class="btn btn-block btn-sm btn-light-success font-weight-bolder font-size-h5 py-25"><i class="fas fa-tools icon-4x mb-2"></i><br />ابزار های آنلاین</a>
                        </div>

                        <div class="col-md-3 col-sm-6 my-2">
                            <a href="#" class="btn btn-block btn-sm btn-light-warning font-weight-bolder font-size-h5 py-25"><i class="far fa-lightbulb icon-4x mb-2"></i><br />انرژی</a>
                        </div>
                    </div>

                </div>
                <!--end::Body-->
            </div>
            <!--begin::Nav Panel Widget 2-->

        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>