
@{
    ViewData["Title"] = "متن";
}

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container mx-10">
        <!--begin::Row-->
        <div class="row">
            
            <div>
                <ol class="breadcrumb bg-transparent rounded-0 text-muted fs-6 fw-bold my-5">
                    <li class="breadcrumb-item pe-3"><a href="/" class="pe-3">خانه</a></li>
                    <li class="breadcrumb-item px-3 text-muted">متن</li>
                </ol>
            </div>

            <!--begin::Nav Panel Widget 2-->
            <div class="card card-custom gutter-b">                
                
                <div class="card-header justify-content-center">
                    <div class="card-title">
                        <h3 class="card-label"><i class="fas fa-sort-alpha-down"></i> یکی از ابزار های زیر را انتخاب کنید <i class="fas fa-sort-alpha-up"></i></h3>
                    </div>
                </div>

                <!--begin::Body-->
                <div class="card-body ">

                    <div class="row mb-5">
                        <div class="col-md-4 col-sm-12 my-2">
                            <a class="btn btn-block btn-sm btn-light-danger border-danger font-weight-bolder font-size-h5 py-25"><i class="fas fa-sort-alpha-down icon-4x mb-2"></i><br/>شمارشگر حروف</a>
                        </div>

                        <div class="col-md-4 col-sm-12 my-2">
                            <a href="#" class="btn btn-block btn-sm btn-light-primary border-primary font-weight-bolder font-size-h5 py-25"><i class="fas fa-newspaper icon-4x mb-2"></i><br/>شمارشگر کلمات</a>
                        </div>

                        <div class="col-md-4 col-sm-12 my-2">
                            <a href="#" class="btn btn-block btn-sm btn-light-success border-success font-weight-bolder font-size-h5 py-25"><i class="fas fa-list-ol icon-4x mb-2"></i><br/>شمارشگر خطوط</a>
                        </div>
                    </div>

                </div>
                <!--end::Body-->
            </div>
            <!--begin::Nav Panel Widget 2-->

        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>

